@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  box-sizing: border-box;
  font-size: 6px;
}

body {
  position: relative;
  background: linear-gradient(to right,#f1d0b5 0%,#f3d4bb 82%,rgb(255, 255, 255) 90%);
  height: 10000px;
}

@media screen and (maX-width: 700px) {
  body {
    background: #f3d1b6;
  }
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(6px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 700px) {
  html {
    font-size: calc(12px + 6 * ((100vw - 700px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: min(calc(18px + 6 * ((100vw - 1000px) / 680)), 16px);
  }
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.max-width-container {
  max-width: 1440px;
}

.bar {
  height: 4px;
  background: #000000;
  transition: 0.4s;
  margin-top: 6px;
  margin-bottom: 6px;
}

.nav-button {
  width: 56px;
  padding: 12px;
}


.nav-menu {
  padding: 16px;
}

.nav-menu.active {
  background: linear-gradient(to right,#f5d0b6 0%,#ffe1ca 90%, white 100%);
}

.nav-button.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-7px, 7px);
}
.nav-button.active .bar:nth-child(2) {
  opacity: 0;
}
.nav-button.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-6px, -7px);
}
